* {
    box-sizing: border-box;
}

body {
    background-color:var(--theme-color);
    color: var(--main-text-color);
}

header {
    margin: em(50px) 0;
    img {
        opacity: 0.75;
        width: 100%;
    }
}