* {
    box-sizing: border-box;
}

body {
    background-color:var(--theme-color);
    color: var(--main-text-color);
}

header {
    margin-bottom: em(30px);
    img {
        opacity: 0.75;
        width: 100%;
    }
}

footer {
    padding: 30px;
}