//SCSS variables

//CSS variables
:root {
    --top-nav-height: 100px;
    --theme-color: #ECE6E2;
    --nav-main-color: #7E6C62;
    --nav-text-color: #FFFFFF;
    --miscellaneous-color: #C2927A;
 
    --main-text-color: #C2927A;
}